@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<<<<<<< HEAD
<h2>Test</h2>
=======
>>>>>>> 87f5e2e42717a64985719c67055ee75452523f55
