<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Admin</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="header">
        <h1>Admin Area</h1>
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <div class="footer">
        <p>&copy; 2024 - YourProject</p>
    </div>
</body>
</html>
